@model FastBite_PRO231.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartItems)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inventory)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDetails)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDetails)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromotionDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromotionDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
